<section class="contacts">
  <h2 class="contacts-title">Как со мной связаться</h2>
  <div class="wrapper">
    <div class="contacts-wrapper">
      <figure class="contact-item">
        <svg icon="telegram" class="svg50"></svg>
        <a href="https://t.me/nikqwerty12" target="_blank" class="contact-tel">Мой телеграм</a>
      </figure>
      <figure class="contact-item">
        <svg icon="email" class="svg50"></svg>
        <a href="mailto:tool03923@gmail.com" class="contact-email">Моя почта</a>
      </figure>
    </div>
    <figure class="map">
      <p class="map-desc">Готов к работе по всему миру, удалённо :)</p>
      <app-animation-earth></app-animation-earth>
    </figure>
  </div>
</section>

<section class="activity-time">
  <h2 class="activity-time-title">Когда я онлайн</h2>
  <ul class="activity-time-list">
    <li>Пн-Пт: 9:00 - 18:00 (по мск)</li>
  </ul>
</section>
