<section class="about">
  <h2 class="about-title">Давайте знакомиться</h2>
  <p class="about-desc">
    Я - Frontend-разработчик, специализирующийся на фреймворке Angular.
  </p>
  <p class="about-desc">
    А также:
  </p>
  <ul class="about-desc-list">
    <li>Владею базовыми инструментами разработки - HTML и CSS.</li>
    <li>Работаю с языками JavaScript и TypeScript.</li>
    <li> Создаю Web-приложения и сайты от простых лендингов до сложных SPA-приложений с применением архитектурного стиля
     взаимодействия между клиентом и сервером - REST API.</li>
  </ul>
  <p class="about-desc">
     За время создания своих проектов успел поработать с Angular версий 14, 16, и 18, что позволило лично увидеть изменения и улучшения в этом инструменте!
  </p>
  <p class="about-desc">
    В создании своих проектов стараюсь использовать подход с семантической вёрсткой, создавать интересные интерфейсы и
    понятную архитектуру для поддержания юзабилити и чистого кода!
    На постоянной основе улучшаю свои знания во Frontend-разработке, интересуюсь новинками в этой сфере и применяю знания на практике!
  </p>
  <p class="about-link-projects">
    <span>Подробнее с моими проектами можно ознакомиться</span>
    <a routerLink="/projects">на этой странице >></a>
  </p>
</section>

<section class="skills" id="skills">
  <h2 class="skills-title">Мой стек технологий</h2>
  <app-skills></app-skills>
</section>

<section class="hobby">
  <h2 class="hobby-title">Мои хобби и интересы</h2>
  <ul class="hobby-list">
    <li class="hobby-item">
      <figure class="img-wrapper">
        <img
          ngSrc="images/sport.webp"
          alt="Sport"
          width="100"
          height="100"
          priority
        >
      </figure>
      <div class="item-wrapper">
        <h4 class="item-title">Тренировки и прогулки</h4>
        <p class="item-desc">
          Прокачиваю не только свои знания в Angular, но и мышцы. Люблю баланс:
          покоряю уличные воркаут-площадки и просто гуляю на свежем воздухе.
        </p>

      </div>
    </li>
    <li class="hobby-item">
      <figure class="img-wrapper">
        <img
          ngSrc="images/downhill.webp"
          alt="Downhill"
          width="100"
          height="100"
          priority
        >
      </figure>
      <div class="item-wrapper">
        <h4 class="item-title">Даунхилл</h4>
        <p class="item-desc">
          Даунхилл (Downhill) - это скоростной спуск с горы. Горы учат меня тому же, что и программирование:
          грамотный баланс, контроль скорости и умение быстро изменять траекторию.
        </p>
      </div>
    </li>
    <li class="hobby-item">
      <figure class="img-wrapper">
        <img
          ngSrc="images/strike.webp"
          alt="Strike"
          width="100"
          height="100"
          priority
        >
      </figure>
      <div class="item-wrapper">
        <h4 class="item-title">Страйкбол</h4>
        <p class="item-desc">
          Страйкбол (Airsoft) научил меня главному: даже если ты в меньшинстве, правильная стратегия
          и хладнокровие побеждают численность.
        </p>
      </div>
    </li>
  </ul>
</section>
