<section class="skills-list">
  <div class="skills-wrapper">
    <figure class="skill-angular" [title]="'angular'">
      <svg icon="angular" class="angular svg70"></svg>
    </figure>
    <figure class="html-orbit" [title]="'angular'">
      <svg icon="html" class="html svg50"></svg>
    </figure>
    <figure class="css-orbit">
      <svg icon="css" class="css svg50"></svg>
    </figure>
    <figure class="sass-orbit">
      <svg icon="sass" class="sass svg50"></svg>
    </figure>
    <figure class="bootstrap-orbit">
      <svg icon="bootstrap" class="bootstrap svg50"></svg>
    </figure>
    <figure class="ts-orbit">
      <svg icon="ts" class="ts svg50"></svg>
    </figure>
    <figure class="js-orbit">
      <svg icon="js" class="js svg50"></svg>
    </figure>
    <figure class="git-orbit">
      <svg icon="git" class="git svg50"></svg>
    </figure>
    <figure class="github-orbit">
      <svg icon="github" class="github svg50"></svg>
    </figure>
    <figure class="gitlab-orbit">
      <svg icon="gitlab" class="gitlab svg50"></svg>
    </figure>
    <figure class="docker-orbit">
      <svg icon="docker" class="docker svg50"></svg>
    </figure>
  </div>
</section>
